<section class="searchBox">
	<form id="searchBox" method='get' action="/quizes?search">
	  <input type="text" name="search" placeholder="Buscador" required/>
	  <input type="submit" value="Enviar"/>
	</form>
</section>
<h2>Listado de preguntas</h2>
<table id="questionsTable">	
	<% var i; for (i = 0; i < quizes.length; i++) {%>
		<tr>
			<td><div class="id<%= quizes[i].tema %>"></div></td>
			<td class="question">
				<a href="quizes/<%= quizes[i].id %>">
					<%= quizes[i].pregunta %>
				</a>
			</td>
			<% if (session.user) { %>
				<td class="editButton">
					<a href="quizes/<%= quizes[i].id %>/edit">
						<button>Editar</button>
					</a>
				</td>
				<td class="delButton">
					<form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
						<button type="submit" onClick='return confirm("Está seguro que desea borrar:\r\n\n<%= quizes[i].pregunta %>")'>Borrar</button>
					</form>
				</td>
			<% } %>
		</tr>
	<% } %>
	<% if (session.user) { %>
		<tr>
			<td>
				<a href="/quizes/new"><button id="newButton" type="button">Crear pregunta</button></a>
			</td>
		</tr>
	<% } %>
</table>

<section id="leyenda">
	<ul>
		<li>
			<div class="idast"></div>
			<span>Astronomía</span>
		</li>
		<li>
			<div class="idbio"></div>
			<span>Biología</span>
		</li>
		<li>
			<div class="idgeo"></div>
			<span>Geografía</span>
		</li>
		<li>
			<div class="idquim"></div>
			<span>Química</span>
		</li>
		<li>
			<div class="idotros"></div>
			<span>Otros</span>
		</li>
	</ul>
</section>

<!-- Resaltado del texto buscado -->
<script type="text/javascript"> 
	function markSearch() {
		if (window.location.search) {
			var searchValues = [], nquestions = [];
			searchValues = window.location.search.split('=')[1].split('+');
			nquestions = document.getElementsByClassName("question");
			for (var n = 0, nsearch = searchValues.length; n < nsearch; n++) {
				var reSearchValues = new RegExp(searchValues[n],'ig');
				for (var s = 0, nmatches = nquestions.length; s < nmatches; s++) {
					nquestions[s].innerHTML =
						nquestions[s].innerHTML.replace(reSearchValues, '<mark>' + searchValues[n] + '</mark>');
				}
			}
		}
	}
	markSearch();
</script>